.home-banner {
    background-image: url(../../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    height: 350px;
    padding: 0;
}
.banner-text {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}